* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: left;
}

body {
  background-color: var(--color-gray-1);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  transition: all 0.4s ease-in-out;
}

:root {
  --color-white: #FFFFFF;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #dbe1ef;
  --color-gray-2: #d2becd;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #2a2e35;
  --color-gray-6: #12181b;
  --color-blue: #5cc5ff;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

.main-title h2 {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

.description h5 {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
}

.main-container {
  margin: 1.5rem;
}

.input-control .output-parameter {
  background-color: var(--color-blue);
}
.input-control input {
  appearance: none;
  border-radius: 10px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--color-gray-1);
  width: 100%;
  resize: none;
}
.input-control input[type=number]::-webkit-inner-spin-button,
.input-control input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.input-control input:invalid:required {
  background-image: linear-gradient(11deg, rgb(237, 13, 13) 0%, rgba(0, 44, 255, 0.1881127451) 100%);
}
.input-control label {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
}
.input-control h6 {
  font-weight: inherit;
  font-size: 0.8rem;
  font-family: inherit;
  text-transform: uppercase;
}

.invisible {
  visibility: hidden;
}

.gradient-background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th,
table td {
  text-align: center;
  border: 1px solid var(--color-gray-1);
  padding: 8px;
}

.footer {
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  background-color: var(--color-white);
  padding: var(--br-sm-2);
  margin: 0.5rem;
  border-radius: var(--br-sm-2);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
  height: fit-content;
}
.container .form .radio-buttons {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .form .radio-buttons .form_radio_btn {
  margin: 0.3rem;
}
.container .form .radio-buttons .form_radio_btn input[type=radio] {
  display: none;
}
.container .form .radio-buttons .form_radio_btn input[type=radio]:checked + label {
  background: var(--color-gray-2);
}
.container .form .radio-buttons .form_radio_btn label {
  appearance: none;
  border-radius: 10px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--color-gray-1);
  resize: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
}
.container .form .switch-buttons {
  margin: 1rem;
}
.container .form .switch-buttons .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.container .form .switch-buttons .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.container .form .switch-buttons .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.container .form .switch-buttons .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.container .form .switch-buttons input:checked + .slider {
  background-color: #2196F3;
}
.container .form .switch-buttons input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.container .form .switch-buttons .slider.round {
  border-radius: 34px;
}
.container .form .switch-buttons .slider.round:before {
  border-radius: 50%;
}
.container .form .submit-btn {
  text-align: center;
  color: var(--color-white);
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
}
.container .parameters {
  margin: 1rem;
  border-radius: var(--br-sm-2);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
}

.right-container {
  display: flex;
  flex-direction: row;
}
.right-container .from-container {
  max-width: 300px;
}

/*# sourceMappingURL=styles.css.map */
