<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>matmod</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" rel="stylesheet">
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

<div class="main-title">
    <h2>matmod</h2>
</div>

<div class="description">
    <h5>solar system simulator</h5>
</div>

<div class="main-container">
    <div class="container">
        <div id="plot1">
            <!-- Plotly chart will be drawn inside this DIV -->
        </div>
        <div id="plot2">
            <!-- Plotly chart will be drawn inside this DIV -->
        </div>
    </div>
    <div class="right-container">
        <div class="container">
            <form class="form" action="" id="form">
                <p>General Parameters</p>
                <div class="input-control">
                    <label for="n">Number of planets</label>
                    <input type="number" value="2" step="1" id="n" name="n" required
                           onchange="onValueChanged()">
                </div>
                <div class="input-control">
                    <label for="s">Step</label>
                    <input type="number" value="3600" step="1" id="s" name="s" required
                           onkeypress="return charCode!==45">
                    <h6>in seconds</h6>
                </div>
                <div class="input-control">
                    <label for="d">Duration</label>
                    <input type="number" value="31536000" step="1" id="d" name="d" required
                           onkeypress="return charCode!==45">
                    <h6>in seconds</h6>
                </div>

                <p>Scheme</p>
                <div class="radio-buttons">
                    <div class="form_radio_btn">
                        <input id="radio-1" type="radio" name="radio" value="Euler" checked>
                        <label for="radio-1">Euler</label>
                    </div>
                    <div class="form_radio_btn">
                        <input id="radio-2" type="radio" name="radio" value="Runge–Kutta">
                        <label for="radio-2">Runge–Kutta</label>
                    </div>
                </div>

                <p>Disable first plot</p>
                <div class="switch-buttons">
                    <label class="switch">
                        <input id="switch-plot" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="input-control">
                    <input class="submit-btn gradient-background" type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div class="container" id="planet-container">
            <p>Planet Parameters</p>
        </div>

    </div>
</div>
</div>


<script src="../static/js/plot.js"></script>
<script src="../static/js/form-creation.js"></script>

<script>
    onValueChanged();

    let DATA = {
        customData: {
            energy: [1, 2, 3, 4],
            mass_vx: [5, 6, 7, 8],
            mass_vy: [9, 10, 11, 12],
        },
        graphs: [
            {
                x: [0, 0, 0, 0],
                y: [0, 0, 0, 0],
            },
            {
                x: [1, 2, 3, 4],
                y: [-1, -2, -3, -4],
            },
            {
                x: [1.5, 1.5, 2.5, 2.5],
                y: [1.5, 1.5, 2.5, 2.5],
            },
        ]
    };

    buildPlots(DATA);
</script>
</body>