<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <div class="main-title">
        <h2>matmod</h2>
    </div>

    <div class="description">
        <h5>solar system simulator</h5>
    </div>

    <div class="main-container">
        <div class="container">
            <div id="plot1">
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
            <div id="plot2">
                <!-- Plotly chart will be drawn inside this DIV -->
            </div>
        </div>
        <div class="right-container">
            <div class="container">
                <form class="form" action="" id="form">
                    <p>Parameters</p>
                    <div class="input-control">
                        <label for="n">Number of planets</label>
                        <input type="number" value="3600" step="1" id="n" name="n" required
                            onkeypress="return charCode!==45">
                    </div>
                    <div class="input-control">
                        <label for="d">Duration</label>
                        <input type="number" value="31536000" step="1" id="d" name="d" required
                            onkeypress="return charCode!==45">
                        <h6>in seconds</h6>
                    </div>

                    <p>Scheme</p>
                    <div class="radio-buttons">
                        <div class="form_radio_btn">
                            <input id="radio-1" type="radio" name="radio" value="1" checked>
                            <label for="radio-1">Euler</label>
                        </div>
                        <div class="form_radio_btn">
                            <input id="radio-2" type="radio" name="radio" value="2">
                            <label for="radio-2">Verle</label>
                        </div>
                         
                        <div class="form_radio_btn">
                            <input id="radio-3" type="radio" name="radio" value="3">
                            <label for="radio-3">Euler-Kramer</label>
                        </div>
                         
                        <div class="form_radio_btn">
                            <input id="radio-4" type="radio" name="radio" value="4">
                            <label for="radio-4">Biman</label>
                        </div>
                    </div>


                    <div class="input-control">
                        <input class="submit-btn gradient-background" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="../static/js/plot.js"></script>
</body>